.line-chart-container{
    margin-left: 20%;
}

.line-chart-dialog-title{
    text-align: center;
    color: white;
    font-size: 1.6rem;
}

.loading-text-graphs{
    margin-top:20px;
    text-align: center;
}

.peers-container{
    margin-left: 20px;
}

.peer-box{
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left:2px;
}