.left-back-icon{
    position: absolute;
    z-index: 100;
    color:#fff;
    border-radius: 30px;
    margin-top:20px;
    margin-left: 20px;
}

.left-back-icon:hover{
    cursor: pointer;
}

.left-icon-studio{

    padding:3px;
    padding-left:5px;
    border-radius: 50%;
    background-color: #000;
    font-size: 2.3rem;
}

.pipeline-studio-section-title{
    background-color: #070b95;
    color:#fff;
    border: 1px solid #b8b8b8;
    width: 500px;
    margin-left:35%;
    margin-top:20px;
    z-index: 1000;
    position: absolute;
}

.pipeline-studio-section-title-logo{
    position: relative;
    margin-left:15px;
    top:3px;
    font-size: 1.6rem;
}

.add-blocks-icon-container{
    position: absolute;
    z-index:100;
    top:160px;
    left:20px;
    width: 100px;
    padding:10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #1f263e;
    color:#fff;
}


.add-blocks-icon{
 width: 300px;
 height: 300px;
 border:1px solid #fff;
 border-radius: 10px;
}

.add-blocks-icon:hover{
    cursor: pointer;
}

.add-blocks-icon-container-title{
    font-size: 1.3rem;
    font-weight: bold;
}

.side-info-container-pipeline-studio{
    z-index:100;
    top:10px;
    position: fixed;
    padding: 5px;
    right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    background-color: #f0f5fd;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
}

.info-icon-side-creator-studio{
    color:rgb(103, 103, 241);
    padding:10px;
    padding-left:20px;
    font-size: 1.3rem;
    width: 30px;
    height: 30px;
}

.pipeline-create-btn:hover{
    cursor: pointer;
}

.toolbox-top-btn{
    padding-top: 10px;
}

.toolbox-btn{
    padding-bottom: 20px;
}

.tolbox-btn-bottom{
    padding-bottom: 10px;
}

.toolbox-btn:hover{
    cursor:pointer;
}

.info-icon-side-pipeline-studio{
    color:#6767f1;
    padding:15px;
    font-size: 1.3rem;
    width: 30px;
    height: 30px;
}

.info-icon-side-pipeline-studio:hover{
    cursor: pointer;
}

.generated-notifications{
    /* margin-bottom: 6px; */
    /* padding-top: 2px; */
    font-size: 1.3rem;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 65px;
    bottom: 100px;
}