.main-log-container{
    padding:10px;
}
.log-box{
    background-color: #2b2b2b; /* Dark background */
    border-left: 4px solid #4CAF50; /* Green border for INFO level */
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Darker shadow for depth */
    border-radius: 4px;
    font-family: Arial, sans-serif;
    color: #e0e0e0; /* Light gray text */
}

.log-box p:first-child {
    font-weight: bold;
    color: #4CAF50; /* Green for INFO */
    margin-bottom: 5px;
}

/* Timestamp */
.log-box p:nth-child(2) {
    font-size: 15px;
    color: #a5a5a5; /* Lighter text for timestamp */
    margin-bottom: 10px;
}

/* Message */
.log-box p:last-child {
    font-size: 16px;
    color: #ffffff; /* White for the message content */
}

/* Additional styles for different log levels */
.log-box.info {
    border-left-color: #4CAF50; /* Green for INFO */

}

.log-box.warning {
    border-left-color: #FFC107; /* Yellow for WARNING */
}

.log-box.error {
    border-left-color: #F44336; /* Red for ERROR */
}

.log-box.debug {
    border-left-color: #a0a0a0; /* Blue for DEBUG */
}

.log-box.exception {
    border-left-color: #F44336; /* Red for ERROR */
}


/* === ^ === */

.warning-text-color{
    color:#FFC107 !important;
}

.error-text-color {
    color:#F44336 !important;
}

.exception-text-color {
    color:#F44336 !important;
}

.debug-text-color {
    color: #a0a0a0 !important;
}

.info-text-color{
    color:#4CAF50 !important;
}


.main-log-container {
    max-height: 400px; /* Set a maximum height for the container */
    overflow-y: auto;  /* Enable vertical scrolling */
    padding: 10px;
    background-color: #1e1e1e; /* Dark background for the container (optional for dark theme) */
    border: 1px solid #333; /* Border to define the area */
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Shadow for depth */
}

/* Custom scrollbar for webkit-based browsers (optional for better UX) */
.main-log-container::-webkit-scrollbar {
    width: 8px;
}

.main-log-container::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the scroll thumb */
    border-radius: 4px;
}

.main-log-container::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Hover color for scroll thumb */
}

.main-log-container::-webkit-scrollbar-track {
    background-color: #2b2b2b; /* Track color */
}

.logs-block-name{
    padding:10px;
    font-weight: bold;
}


.logs-loader{
    margin-top:20px;
}