.dataset-node-header{
    background: #80bbe0;
    color:#fff;
    padding:10px;
    width: 400px;
    font-size: 1.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-bottom: 1px solid blue;
}



.dataset-node-separator{
    background-color: #242c3a;
    height: 20px;
}

.dataset-node-info-section{
    padding-top:1px;
    background-color: #cff6ff;
    color:#fff;
}

.dataset-node-info-section-container{
    text-align: center;
    padding-top:5px;
    padding-left:15px;
    padding:20px;
}

.dataset-toolbox-btn{

    background-color: #2d3748;
    border:none;
    margin-top:10px;
    margin-bottom: 10px;
    border: 2px solid rgb(255, 242, 0);
    padding:8px;
    color:rgb(255, 242, 0);
    border-radius: 5px;
}

.open-more-icon{
    margin-top:5px;
    padding-top: 10px;
    font-size: 1rem !important;
}

.dataset-node-bottom{
    background-color: #2d3748;
    height: 10px;
    border-top-left-radius: 0; 
    border-top-right-radius: 0; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
} 

.dataset-toolbox-btn:hover{
    cursor: pointer;
}

.dataset-node-bottom-toolbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.change-dataset-btn{
    background-color: #80bbe0;;
    border: 2px solid blue;
    color:blue;
}

.node-header-filter{
    width: 480px;
}

.applied-alg{

    color:#03fcbe;
    border-color: #03fcbe;
}

.imputation-algs{
    color:#fc0324;
    border-color: #fc0324;
}

.model-training-card-header{
    width: 880px;
}

.training-card-body{
    width: 750px;
    margin: auto;
}

.model-status-container{
    margin-top:60px;
    font-size: 1.4rem;
}

.model-data-btn{
    color:aqua;
    border-color: aqua;
    padding:10px;
    font-size: 1.2rem;
}

.elapsed-time{
    color:rgb(255, 255, 176);
    font-weight: bold;
    font-size: 1.3rem;
}

.elapsed-time-text{
    padding:10px;
}

.loading-spinner {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin-bottom:10px;
}

.dot1, .dot2, .dot3 {
    
    width: 25px;
    height: 25px;
    background-color: #3498db;
    border-radius: 50%;
    margin: 0 5px;
    transform: scale(0); /* Initial scale to make dots invisible */
    animation: rotate 1.5s infinite linear; /* Apply the rotate animation */
}

.dot2 {
    animation-delay: 0.5s; /* Delay the animation for the second dot */
}

.dot3 {
    animation-delay: 1s; /* Delay the animation for the third dot */
}

.loader-block-inner-text{
    color:blue;
    font-size: 1.4rem;
}

@keyframes rotate {
    0% { transform: scale(0); } /* Initial scale to make dots invisible */
    50% { transform: scale(1); } /* Scale up to full size */
    100% { transform: scale(0); } /* Scale back to invisible */
}

.done-container{
    padding:10px;
    font-size: 1.9rem;
}

.remove-node-btn{
    position: absolute;
    right:5px;
    top:1px;
    width: 25px;
    height: 25px;
    font-size: 1.1rem;
    background: #000000;
    border: 3px solid red;
    cursor: pointer;
    color:white;
    border-radius: 50%;
    line-height: 1;
}



.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin:auto;
}

.file-input {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}

.select-file-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.select-file-button:hover {
    background-color: #2980b9;
}