.select-dropdown {
    background-color: #e8e8e8; /* Gray color */
    color: #000; /* Black color */
}
  
.select-dropdown__option {
    color: #000; /* Black color */
}

.section-title{
    padding:10px;
}

.data-loading-container{
  height: 300px;
  padding:80px;
}

.no-variables-info-container{
    padding-top:10px;
    padding-bottom:40px;   
    font-size: 1.3rem;
}

.variable-description{
    padding-top:10px;
}

.input-err-msg{
    font-size: 1.1rem;
    color:red;
}

.date-container{
    width: 90%;
    margin: auto;
}

.date-localization{
    width: 40%;
    margin:auto;
    padding:10px;
    margin-bottom: 10px;
}