.asset-create-btn{
    margin-top:20px;
    margin-left: 45%;
}

.type-of-asset-btns{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.select-asset-type{
    text-align: center;
    margin-bottom:10px;
}