.select-dropdown {
    background-color: #e8e8e8; /* Gray color */
    color: #000; /* Black color */
  }
  
  .select-dropdown__option {
    color: #000; /* Black color */
  }

   .section-title{
    padding:10px;
   }

   .variable-input{
    
   }