.flow-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    max-width: 400px;
    width: 100%;
    margin: auto;
    margin-top:30px;
    margin-right: 35%;
    z-index: 40;
    
  }
  .container .steps {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    color: #999;
    font-size: 22px;
    font-weight: 500;
    border-radius: 50%;
    background: #fff;
    border: 4px solid #e0e0e0;
    transition: all 200ms ease;
    transition-delay: 0s;
  }
  .steps .circle.active {
    transition-delay: 100ms;
    border-color: #4070f4;
    color: #4070f4;
  }
  .steps .progress-bar {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #e0e0e0;
    z-index: -1;
  }
  .progress-bar .indicator {
    position: absolute;
    height: 100%;
    width: 0%;
    background: #4070f4;
    transition: all 300ms ease;
  }
  .container .buttons {
    display: flex;
    gap: 20px;
  }
  .buttons button {
    padding: 8px 25px;
    background: #4070f4;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transition: all 200ms linear;
  }
  .buttons button:active {
    transform: scale(0.97);
  }
  .buttons button:disabled {
    background: #87a5f8;
    cursor: not-allowed;
  }

  .pipeline-controller{
    background-color:#070b95;
    font-size: 1.5rem;
    color:#fff;
    padding:10px;
    width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .pipeline-started{
    background-color:green;
  }
.pipeline-loading{
    background-color:#070b95;
}

  .play-btn:hover{
    cursor: pointer;
  }

.alert-error{
 background-color: rgb(153, 0, 0);
 color:white;
 width: 500px;
 padding: 20px;
 font-size: 1.3rem;
 border-radius: 10px;
 -webkit-box-shadow: 5px 5px 15px 5px #000000; 
 box-shadow: 5px 5px 15px 5px #000000;
}

.side-info-container{
  position: fixed;
  padding: 5px;
  right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  background-color: #f0f5fd;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
}



.side-info-container-small{
  position: fixed;
  padding: 5px;
  right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  background-color: #f0f5fd;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
}

.info-icon-side{
  color:rgb(70, 70, 107);
  padding:10px;
  padding-left:20px;
  font-size: 1.3rem;
  width: 30px;
  height: 30px;

}

.info-icon-side:hover{
  cursor: pointer;
}

.trash-icon-side{
  color:rgb(15, 145, 32);
  padding:15px;
  font-size: 1.3rem;
  width: 30px;
  height: 30px;
}

.trash-icon-side:hover{
  cursor: pointer;
}

.delete-icon-side{
  color:rgb(197, 28, 28);
  padding:15px;
  font-size: 1.3rem;
  width: 30px;
  height: 30px;
}

.delete-icon-side:hover{
  cursor: pointer;
}

.tooltip-container{
  padding:20px;
}

.no-history-container{
  padding:10px;
  font-size:1.9rem;
  margin-top:30px;
  margin-bottom: 30px;
  text-align: center;
}

.tabs-container{
  
  margin-top:20px;
  margin-bottom: 0px;
}

.blue-dot {
  width: 7px;
  height: 7px;
  background-color: blue;
  border-radius: 50%;
  margin-left:7px;
  margin-top:5px;
}

.tab-name{
  display: flex;
  flex-direction: row;
  /* font-size: 1.4rem; */
}

.tab-name{
  margin-top:5px;
}

.close-tab-btn{
  margin-top:3px;
}

.no-pipeline-open-text-container{
  margin-top:12%;
  font-size: 1.9rem;
  margin-left: 20%;
  color:#c7c7c7;
  user-select: none;
}

.no-pipeline-open-text-icon{
  font-size: 2.5rem;
}